#about-page {
    header {
        font-size: 4rem;
        color: #FAC863;
        text-align: center;
        font-family: 'Fira Code', 'Courier New', Courier, monospace;
        text-transform: capitalize;
    }
}