
nav {
    display: flex;
    padding: 1rem;
    justify-content: center;

    .nav-item {
        color: #fff;
        padding: 4px 8px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;

        &.active {
            color: #99C794;
        }
    }
}